  <nav class="navbar navbar-expand-lg navbar-light m-0">
    <a class="navbar-brand ml-3" href="/" style="width: 190px; height: 52px;"><img src="{{url_for('static', filename='images/cb4.png')}}" alt="Chalkboards" style="width:90%" height="90%"></a>
      <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo02">
        <form class="form-inline my-lg-0">
          <div class="input-group">
              <div class="input-group-append"></div>
          </div>
        </form>
      </div>
    <div class="btn btn-radius btn-nav btn-account initials"></div>
    <div class="account-popup d-none" tabindex="-1">
  
          <div class="card card-account">
          <div class="account-image initials">
          </div>

          <div class="credentials">
            <h5 >Raghav Khanna</h5>
            <div class="user-creds">
              <div class="field-center p-2 mt-1">Institute Name</div>
              <div class="field-center p-2 mt-1">123@example.com</div>
              <div class="field-center p-2 mt-1">One more field here</div>
            </div>
          </div>
  
          </div>
        </div>
    </div>
    <a href="/logout" class="ml-2 btn btn-radius btn-nav">Logout</a>
  </nav>