@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;

    }
}

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    color: rgb(65, 65, 65);
  }

  .navbar{
    background-color: rgb(53, 53, 53);
    box-shadow: 1px 1px 45px 0px rgb(128, 127, 127);
}


  .nav-inputs{
      font-size: 10pt;
      height: 33px;
      
  }



h4{
    color: white;
}

.btn-radius2{
    border-radius: 500px;
}

#search-bar{
    width: 500px;
    }

.justify-content-center {
    justify-content: center;
}

.btn{
 background-color: #F23B5F;
 color: white;
}


.align-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
}

.btn-radius{
    border-radius: 25px;
}

.justify-content-center{
    justify-content: center;
}

.container {
    display: inline;
}

/* .col{
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
} */



.notification-banner1{
    margin: 20px;
    height: 150px;
    width: 325px;
    background-color: rgb(56, 56, 56);
    position: absolute;
    top: 25px;
    left: 0px;
    border-radius: 9px;
    box-shadow: 1px 1px 15px 0px rgb(128, 127, 127);
}

.notification-banner1:hover{
    background-color: rgb(87, 87, 87);
    transform:translate(-1px,-1px)
}

.notification-banner2{
    position: absolute;
    top: 25px;
    left: 340px;
    margin: 20px;
    height: 150px;
    width: 325px;
    background-color: rgb(56, 56, 56);
    position: absolute;
    box-shadow: 1px 1px 15px 0px rgb(128, 127, 127);
    right: 5px;
    border-radius: 9px;
}

.notification-banner2:hover{
    background-color: rgb(87, 87, 87);
    transform:translate(-1px,-1px)
}

.row-header{
    position: relative;
    margin: 20px;
    height: 10px;
}

.course-name{
    position: relative;
    right: 90px;
}

.progress{
    width: 300px;
    position: relative;
}

.notification-panel{
    position: relative;
    top: 30px;
    left: 22px;
    font-size: 15pt;
    color: white;

}

.notification-panel2{
    position: relative;
    top: 30px;
    left: 64px;
    font-size: 15pt;
    color: white;

}

li{
    text-align: center;
    margin: 0;
    padding: 0;
}


.row-border{
    height: 55px;
    width: 620px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    /* border: solid; */
}

.first-row{
    margin-top: 28px;
}

.row-time{
    position: absolute;
    top: 10px;

}

.row-border:hover {
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 6px 0px rgb(175, 175, 175);
}


.special{
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
}

.align-scroll{    
    width: 100%;
    text-align: center;
}

.jumbotron{
    background-color: white;
    text-align: center;
}


#a-tag{
    text-decoration: none;
    color: rgb(97, 97, 97);
}

.jumbotron-course{
    background-color: white;
    text-align: center;
    height: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
}


#a-tag{
    text-decoration: none;
    color: rgb(97, 97, 97);
}


.card-course{
    box-shadow: 0 4px 45px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    min-height: 550px;
    max-height: fit-content;
    margin: auto;
    text-align: center;
  }

  .card-course:hover{
    box-shadow: 10px 10px 200px 0 rgba(0, 0, 0, 0.2);
    transform:translate(-3px,-3px)
  }
  
  .title-course {
    color: grey;
    font-size: 18px;
  }

.course-para{
    width: 90%;
    align-self: center;
    color: rgba(59, 59, 59, 0.9);
    text-align: justify;
}