* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-muted {
  color: #777; }

.cursor-pointer {
  cursor: pointer; }

.disable-selection {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
  }



.calendar, .calendar, .calendar .calendar-days li:after {
  position: absolute;

  bottom: 30px;
  margin: auto; }



.calendar {
  box-shadow: rgba(255, 255, 255, 0.877);
  width: 670px;
  height: 430px;
  border-radius: 10px;
  overflow: hidden; }
  .calendar .calendar-left-side-day-of-week, .calendar .current-day-events ul, .calendar .calendar-change-year, .calendar .calendar-days li {
    position: relative; }
  .calendar .calendar-left-side-day, .calendar .calendar-left-side-day-of-week, .calendar .current-day-events {
    /* color: rgb(168, 170, 221);  */
    color: white;
  }
  .calendar .calendar-left-side-day-of-week, .calendar .calendar-week {
    text-transform: uppercase; }
  .calendar .right-side, .calendar .left-side {
    background-color: rgb(255, 255, 255);
    padding-bottom: 6px;
    height: 100%; }
  .calendar .left-side {
    width: 200px;
    /* background: #F23B5F; */
    background-color: rgb(66, 72, 245);
    /* background-image: linear-gradient(rgb(107, 68, 216), rgb(39, 212, 235)); */
    float: left; }
  .calendar .current-day, .calendar .current-day-events {
    padding-top: 120px; }
  .calendar .current-day-events {
    height: 215px; }
  .calendar .current-day-events ul {
    padding-left: 30px;
    list-style: none; }
    .calendar .current-day-events ul li::before {
      content: '-';
      position: absolute;
      left: 3px; }
  .calendar h1.calendar-left-side-day {
    font-size: 92px; }
  .calendar .right-side {
    width: 470px;
    float: left; }
  .calendar .calendar-change-year {
    font-size: 20px; }
    .calendar .calendar-change-year .calendar-change-year-slider {
      margin-right: 10px;
      color: #737373; }
    .calendar .calendar-change-year .calendar-change-year-slider .fa:hover {
      color: #404040; }
  .calendar .calendar-days, .calendar .calendar-week, .calendar .calendar-month {
    list-style: none;
    font-size: 0;
    }
    .calendar .calendar-days li, .calendar .calendar-week li, .calendar .calendar-month li {
      display: inline-block;
      text-align: center;
      /* cursor: pointer; */
      font-size: 16px;
      }
  .calendar .calendar-month li {
    width: calc(460px / 12);
    height: 30px;
    line-height: 30px;
    color: #868686;
    font-size: 13px; }
    .calendar .calendar-month li.active {
      color: #171717;
      font-weight: 600; }
  .calendar .calendar-days li {
    width: calc(460px / 7);
    height: 50px;
    line-height: 50px;
    }
    .calendar .calendar-days li:after {
      content: attr(data-day);
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #959595; }
    .calendar .calendar-days li.another-month:after {
      color: #ccc; }
    .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after, .calendar .calendar-days li.event-day:before, .calendar .calendar-days li.active-day:after {
      border-radius: 50%; }
    .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after {
      background: #ccc;
      color: white; }
    .calendar .calendar-days li.event-day:before {
      content: ' ';
      width: 5px;
      height: 5px;
      position: absolute;
      top: 7px;
      right: 7px;
      background: #1400c7; }
    .calendar .calendar-days li.active-day:after {
      color: white;
      /* background: #ec364f;  */
      background: rgb(66, 72, 245);
    }
  .calendar .calendar-week {
    margin-bottom: 30px;
    font-weight: 600;
    color: #737373;
    border-top: 1px solid #ccc; }
    .calendar .calendar-week li {
      width: calc(460px / 7);
      height: 30px;
      line-height: 30px; }

  .right-side{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .calendar {
    -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
 }
 .calendar {
   -webkit-box-shadow: 0 0px 0px 0px black;
    -moz-box-shadow: 0 0px 0px 0px black;
    box-shadow: 0 0px 7px 0px rgb(116, 116, 116);
 }
 .calendar:hover {
-webkit-box-shadow: 0px 0px 0px 0px black;
    -moz-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 1px 1px 13px 0px rgb(128, 127, 127);
 }

 .calendar{
   position: relative;
   top: 70px;
   right: 5px;
 } 

 @font-face {
  font-family: system-font;
  src: url(BalooPaaji2-Regular.ttf);
}

@font-face {
 font-family: chalkboard;
 src: url(DkCrayonCrumble-ddll.ttf);
}

body {
  margin: 0;
  /* font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-family: system-font;
  font-size: 0.95rem;
  font-weight: 900;
  line-height: 1.5;
  /* text-align: left; */
  background-color: rgb(241, 241, 241);
  color: rgb(65, 65, 65);
}

.navbar{
  background-color: rgb(40, 40, 40);
  /* background-image: linear-gradient(to right, rgb(86, 156, 92), rgb(65, 206, 77)); */
  /* border-bottom: solid rgba(78, 180, 81, 0.993) thick; */
  /* background-color: rgb(62, 122, 68); */
  box-shadow: 1px 1px 12px 0px rgb(128, 127, 127);
}


.nav-inputs{
    font-size: 10pt;
    height: 33px;
    
}



h4{
  color: white;
}

.btn-radius2{
  border-radius: 500px;
}

#search-bar{
  width: 500px;
  }

.justify-content-center {
  justify-content: center;
}

.btn-nav{
background-color: rgba(255, 255, 255, 0.993);
border: solid rgb(211, 211, 211) thin;
border-left: none;
color: rgb(153, 153, 153);
}

.btn-nav2{
  color: rgb(95, 95, 95);
}


.align-center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
}

.btn-radius{
  border-radius: 25px;
}

.justify-content-center{
  justify-content: center;
}


/* .col{
  background-color: rgb(204, 204, 204);
  border-radius: 5px;
} */



.notification-banner1{
  margin: 20px;
  height: 150px;
  width: 325px;
  background-color: rgb(56, 56, 56);
  position: absolute;
  top: 25px;
  left: 0px;
  border-radius: 9px;
  box-shadow: 1px 1px 15px 0px rgb(128, 127, 127);
}

.notification-banner1:hover{
  background-color: rgb(87, 87, 87);
  transform:translate(-1px,-1px)
}

.notification-banner2{
  position: absolute;
  top: 25px;
  left: 340px;
  margin: 20px;
  height: 150px;
  width: 325px;
  background-color: rgb(56, 56, 56);
  position: absolute;
  box-shadow: 1px 1px 15px 0px rgb(128, 127, 127);
  right: 5px;
  border-radius: 9px;
}

.notification-banner2:hover{
  background-color: rgb(87, 87, 87);
  transform:translate(-1px,-1px)
}

.row-header{
  position: relative;
  margin: 20px;
  height: 10px;
}

.course-name{
  position: relative;
  right: 90px;
}

.progress{
  width: 300px;
  position: relative;
}

.notification-panel{
  position: relative;
  top: 30px;
  left: 22px;
  font-size: 15pt;
  color: white;

}

.notification-panel2{
  position: relative;
  top: 30px;
  left: 64px;
  font-size: 15pt;
  color: white;

}

li{
  text-align: center;
  margin: 0;
  padding: 0;
}


.row-border{
  height: 75px;
  /* width: 640px; */
  background-color: rgb(255, 255, 255);
  border-top: solid;
  /* border: solid; */
  /* border-color: black; */
  border-width: thin;
  border-color: rgb(221, 221, 221);
}


.first-row{
  margin-top: 28px;
}


.row-border:hover {
  /* background-color: rgb(245, 245, 245); */
  box-shadow: 0px 0px 6px 0px rgb(175, 175, 175);
  z-index: auto;
}


.special{
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}

.align-scroll{    
  width: 100%;
  text-align: center;
}

.jumbotron{
  background-color: white;
  text-align: center;
}


#a-tag{
  text-decoration: none;
  color: rgb(39, 39, 39);
}

.jumbotron-course{
  background-color: transparent;
  text-align: center;
  height: 70px;
  padding-top: 30px;
  padding-bottom: 20px;
}


#a-tag{
  text-decoration: none;
  color: rgb(97, 97, 97);
}


.card-course{
  box-shadow: 0 4px 45px 0 rgba(0, 0, 0, 0.2);
  max-width: 450px;
  min-height: 550px;
  max-height: fit-content;
  margin: auto;
  text-align: center;
}

.card-course:hover{
  box-shadow: 10px 10px 200px 0 rgba(0, 0, 0, 0.2);
  transform:translate(-3px,-3px)
}

.title-course {
  color: grey;
  font-size: 18px;
}

.course-para{
  width: 90%;
  align-self: center;
  color: rgba(59, 59, 59, 0.9);
  text-align: justify;
}

.jumbotron-account{
  background-color: transparent;
  text-align: center;
  height: 70px;
  padding-top: 30px;
  padding-bottom: 20px;
}


#a-tag{
  text-decoration: none;
  color: rgb(80, 80, 80);
}


.card-account {
  box-shadow: 0 4px 45px 0 rgba(0, 0, 0, 0.2);
  max-width: 450px;
  min-height: 550px;
  max-height: fit-content;
  margin: auto;
  text-align: center;
}

.title-account {
  color: grey;
  font-size: 18px;
}

#user-circle{
max-width:40%;
max-height:40%;
align-self: center;
margin-top: 50px;
margin-bottom: 20px;
}


.field-center {
  background-color: rgb(231, 231, 231);
  height: 44px;
  width: 100%;
  text-align: center;
}

.register-helper{
    color: red;
}

.notfication-notes{
  color: red;
  font-size: 14px;
  font-style: bold;
}

#d-dropdown{
  background-color: rgb(66, 66, 66);
  border-radius: 50px;
  border: none;
  height: 30px;
  width: 55px;
}

.margin-special{
  margin-top: 39px;
}

#d-dropdown1{
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 50px;
  border: solid;
  border-color: rgb(36, 36, 36);
  border-width: thin;
  height: 30px;
  width: 55px;
}

.dropdown-item:hover{
  background-color: white;
}

.logo{
  font-family: chalkboard;
  font-size: 3rem;
}

.login-div-right{
  margin: 80px;
  margin-top: 140px;
  margin-bottom: 0;
}

.login-bg{
  background-image: url('bg4.jpg');
  background-size: cover;

}

.btn-login{
  background-color: transparent;
  width: fit-content;
  margin-left: 100px;
  border: none;
  color: white;
  font-size: 2.5rem;
}

.btn-login:hover{
  color: rgb(229, 255, 0);
}



.form-bg{
  font-family: chalkboard;
  font-size: 2.5rem;
  border-radius: 10px;
  color: white;
}

.copyright{
  font-size: 1rem;
}

@media all and (min-width: 1080px){
  .logo-login{
      padding-left: 170px;
  }

  .logo-tag{
      width: 500px; height: 110px;
  }
}

@media all and (max-width: 720px){
  .logo-tag{
      width: 300px; height: 80px;
  }

  .logo-login{
      margin: 0;
      padding-left: 0;
  }
}

.form-divider{
  color: white;
  background-color: white;
}

#reg{
  color: rgb(39, 39, 39);
  font-size: 1.1rem;
}


