{% extends 'inner-layout.html' %}

{% block body %}
<div id="wrapper">


    <!-- Begin Page Content -->
    <div class="container-fluid">
  
      <!-- Page Heading -->
      <div class="jumbotron jumbotron-course">
          <h1 class="list-heading"><a id="a-tag" href="#">Course Name</a></h1>
      </div>
  

      <div class="col-lg-4 float-left">
        <div class="card course-describe card-course">
          <img src="{{url_for('static', filename='business-process.png')}}" alt="course-image" style="width:100%" height="45%">
          <h2 class="">Course Content</h2>
          <p class="title-course">MPAE Division, NSUT</p>
          <p class="course-para">After taking this course students should be able to:
            1. Formulate and solve linear programming problems.
            2. Solve the problems on networks models such as Transportation, Assignment, Shortest path,
            minimal spanning tree, and Maximal flow.
            3. Solve the problems of Project Management using CPM and PERT
            4. Solve Non-linear Programming problems of some kinds.
            5. Implement the Linear programming techniques using C or any other optimization software</p>
        </div>
      </div>


    <!-- Begin Page Content -->
  
      <!-- Page Heading -->
      <div class="col-lg-8 float-right">
  
      <!-- DataTales Example -->
      <div class="card shadow mb-4 mt-3">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Recent Uploads by Faculty</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date Uploaded</th>
                  <th>Lecture Notes</th>
                  <th>Assignment</th>
                  <th>View Submission</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>27/03/2020</td>
                  <td><a id="" href=""><i class="fa ml-2 mr-2 fa-cloud-download fa-lg"></i>Download</a></td>
                  <td><a id="" href=""><i class="fa ml-2 mr-2 fa-cloud-download fa-lg"></i>Download</a></td>
                  <td><a id="" href=""><i class="fa ml-2 fa-eye fa-lg"></i>View</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
    </div>


    
</div>
  </div>
{% endblock %}