{% extends 'inner-layout.html' %}

{% block body %}
<div class="d-flex p-2 container-fluid bd-highlight main-box">
  <div class="d-flex p-2 container-lg col-lg-6">
  <div class="container-fluid">

      <div class="row row-header pb-3">
        <div class="container-fluid">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item"><b>TIME</b></li>
              <li class="col-2 mb-4 pt-3 list-inline-item"><b>CODE</b></li>
              <li class="col-4 mb-4 pt-3 list-inline-item"><b>COURSE</b></li>
              <li class="col-3 mb-4 pt-3 list-inline-item"><b>ACTIONS</b></li>
            </ul>
        </div>
      </div>

      <div class="row row-header pb-3 first-row">
        <div class="container-fluid">
          <div class="row-border">
            <a id="a-tag" href="/course-content">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 monday10 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology</li>
              <li class="col-3 mb-4 pt-3 list-inline-item">


                 <div class="dropdown show">
                  <a id="d-dropdown" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-clipboard fa"></i>
                  </a>
                
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Upload Material</a>
                    <a class="dropdown-item" href="#">Upload Assignment</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">View Upload</a>
                    <a class="dropdown-item" href="#">View Submissions</a>
                  </div>
                </div>
                    
              </li>
             </ul>
            </a>
            </div>
        </div>
      </div>

      

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <a href="" id="a-tag">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Quality Con..</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <a id="a-tag"><i class="fa fa-rotate-180 fa-lg fa-download"></i><sup class="notfication-notes"><i class="fa fa-check-circle" style="color: green;"></i></sup></a>
                <a id="a-tag"><i class="fa ml-2 fa-cloud-download fa-lg"></i><sup class="notfication-notes mr-1"><i class="fa fa-dot-circle-o"></i></sup></a>
                <a id="a-tag"><i class="fa fa-clipboard fa-lg"></i><sup class="notfication-notes pl-1"><i class="fa fa-dot-circle-o"></i></sup></a>
              </li>
            </ul>
            </div>
          </a>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <a href="" id="a-tag">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Quality Con..</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <a id="a-tag"><i class="fa fa-rotate-180 fa-lg fa-download"></i><sup class="notfication-notes"><i class="fa fa-check-circle" style="color: green;"></i></sup></a>
                <a id="a-tag"><i class="fa ml-2 fa-cloud-download fa-lg"></i><sup class="notfication-notes mr-1"><i class="fa fa-dot-circle-o"></i></sup></a>
                <a id="a-tag"><i class="fa fa-clipboard fa-lg"></i><sup class="notfication-notes pl-1"><i class="fa fa-dot-circle-o"></i></sup></a>
              </li>
            </ul>
            </div>
          </a>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <a href="" id="a-tag">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Quality Con..</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <a id="a-tag"><i class="fa fa-rotate-180 fa-lg fa-download"></i><sup class="notfication-notes"><i class="fa fa-check-circle" style="color: green;"></i></sup></a>
                <a id="a-tag"><i class="fa ml-2 fa-cloud-download fa-lg"></i><sup class="notfication-notes mr-1"><i class="fa fa-dot-circle-o"></i></sup></a>
                <a id="a-tag"><i class="fa fa-clipboard fa-lg"></i><sup class="notfication-notes pl-1"><i class="fa fa-dot-circle-o"></i></sup></a>
              </li>
            </ul>
            </div>
          </a>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <a href="" id="a-tag">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Quality Con..</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <a id="a-tag"><i class="fa fa-rotate-180 fa-lg fa-download"></i><sup class="notfication-notes"><i class="fa fa-check-circle" style="color: green;"></i></sup></a>
                <a id="a-tag"><i class="fa ml-2 fa-cloud-download fa-lg"></i><sup class="notfication-notes mr-1"><i class="fa fa-dot-circle-o"></i></sup></a>
                <a id="a-tag"><i class="fa fa-clipboard fa-lg"></i><sup class="notfication-notes pl-1"><i class="fa fa-dot-circle-o"></i></sup></a>
              </li>
            </ul>
            </div>
          </a>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <a href="" id="a-tag">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Quality Con..</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <a id="a-tag"><i class="fa fa-rotate-180 fa-lg fa-download"></i><sup class="notfication-notes"><i class="fa fa-check-circle" style="color: green;"></i></sup></a>
                <a id="a-tag"><i class="fa ml-2 fa-cloud-download fa-lg"></i><sup class="notfication-notes mr-1"><i class="fa fa-dot-circle-o"></i></sup></a>
                <a id="a-tag"><i class="fa fa-clipboard fa-lg"></i><sup class="notfication-notes pl-1"><i class="fa fa-dot-circle-o"></i></sup></a>
              </li>
            </ul>
            </div>
          </a>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <a href="" id="a-tag">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Quality Con..</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <a id="a-tag"><i class="fa fa-rotate-180 fa-lg fa-download"></i><sup class="notfication-notes"><i class="fa fa-check-circle" style="color: green;"></i></sup></a>
                <a id="a-tag"><i class="fa ml-2 fa-cloud-download fa-lg"></i><sup class="notfication-notes mr-1"><i class="fa fa-dot-circle-o"></i></sup></a>
                <a id="a-tag"><i class="fa fa-clipboard fa-lg"></i><sup class="notfication-notes pl-1"><i class="fa fa-dot-circle-o"></i></sup></a>
              </li>
            </ul>
            </div>
          </a>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <a href="" id="a-tag">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Quality Con..</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <a id="a-tag"><i class="fa fa-rotate-180 fa-lg fa-download"></i><sup class="notfication-notes"><i class="fa fa-check-circle" style="color: green;"></i></sup></a>
                <a id="a-tag"><i class="fa ml-2 fa-cloud-download fa-lg"></i><sup class="notfication-notes mr-1"><i class="fa fa-dot-circle-o"></i></sup></a>
                <a id="a-tag"><i class="fa fa-clipboard fa-lg"></i><sup class="notfication-notes pl-1"><i class="fa fa-dot-circle-o"></i></sup></a>
              </li>
            </ul>
            </div>
          </a>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <a href="" id="a-tag">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Quality Con..</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <a id="a-tag"><i class="fa fa-rotate-180 fa-lg fa-download"></i><sup class="notfication-notes"><i class="fa fa-check-circle" style="color: green;"></i></sup></a>
                <a id="a-tag"><i class="fa ml-2 fa-cloud-download fa-lg"></i><sup class="notfication-notes mr-1"><i class="fa fa-dot-circle-o"></i></sup></a>
                <a id="a-tag"><i class="fa fa-clipboard fa-lg"></i><sup class="notfication-notes pl-1"><i class="fa fa-dot-circle-o"></i></sup></a>
              </li>
            </ul>
            </div>
          </a>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <a href="" id="a-tag">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Quality Con..</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <a id="a-tag"><i class="fa fa-rotate-180 fa-lg fa-download"></i><sup class="notfication-notes"><i class="fa fa-check-circle" style="color: green;"></i></sup></a>
                <a id="a-tag"><i class="fa ml-2 fa-cloud-download fa-lg"></i><sup class="notfication-notes mr-1"><i class="fa fa-dot-circle-o"></i></sup></a>
                <a id="a-tag"><i class="fa fa-clipboard fa-lg"></i><sup class="notfication-notes pl-1"><i class="fa fa-dot-circle-o"></i></sup></a>
              </li>
            </ul>
            </div>
          </a>
        </div>
      </div>
      

      
      
      

  </div>
</div>

  
  


  <div class="col-lg-6 container mt-3 d-none d-lg-block">

    
    <div class="calendar disable-selection" id="calendar">
      <div class="left-side">
          <div class="current-day text-center">
              <h1 class="calendar-left-side-day"></h1>
              <div class="calendar-left-side-day-of-week" id="get-week"></div>
          </div>
              <div class="add-event-day-field-btn"></div>
      </div>
      <div class="right-side">
          <div class="text-right calendar-change-year">
              <div class="calendar-change-year-slider">
                  <span class="fa fa-caret-left cursor-pointer calendar-change-year-slider-prev"></span>
                  <span class="calendar-current-year"></span>
                  <span class="fa fa-caret-right cursor-pointer calendar-change-year-slider-next"></span>
              </div>
          </div>
          <div class="calendar-month-list">
              <ul class="calendar-month"></ul>
          </div>
          <div class="calendar-week-list">
              <ul class="calendar-week"></ul>
          </div>
          <div class="calendar-day-list">
              <ul class="calendar-days"></ul>
          </div>
      </div>
  </div>
  </div>
</div>



{% endblock %}