{% extends 'inner-layout.html' %}

{% block body %}
<div class="d-flex p-2 container-fluid bd-highlight main-box">
  <div class="d-flex p-2 container-lg col-lg-6">
  <div class="container-fluid">

      <div class="row row-header pb-3">
        <div class="container-fluid">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item"><b>TIME</b></li>
              <li class="col-2 mb-4 pt-3 list-inline-item"><b>CODE</b></li>
              <li class="col-4 mb-4 pt-3 list-inline-item"><b>COURSE</b></li>
              <li class="col-3 mb-4 pt-3 list-inline-item"><b>ACTIONS</b></li>
            </ul>
        </div>
      </div>

      <div class="row row-header pb-3 first-row">
        <div class="container-fluid">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 monday10 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology</li>
              <li class="col-3 mb-4 pt-3 list-inline-item">
                <i class="fa fa-rotate-180 fa-lg fa-download"></i><sup class="notfication-notes ml-2">1</sup>
                <i class="fa ml-2 mr-2 fa-download fa-lg"></i><sup class="notfication-notes pr-1">1</sup>
                <i class="fa fa-clipboard fa-lg"></i><sup class="notfication-notes pl-1">1</sup>
              </li>
             </ul>
            </div>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Quality Con..</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <i class="fa fa-rotate-180 fa-lg fa-download"></i>
                <i class="fa mr-2 ml-2 fa-download fa-lg"></i>
                <i class="fa fa-clipboard fa-lg"></i>
              </li>
            </ul>
            </div>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Qua...</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <i class="fa fa-rotate-180 fa-lg fa-download"></i>
                <i class="fa mr-2 ml-2 fa-download fa-lg"></i>
                <i class="fa fa-clipboard fa-lg"></i>
              </li>
            </ul>
            </div>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Qua...</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <i class="fa fa-rotate-180 fa-lg fa-download"></i>
                <i class="fa mr-2 ml-2 fa-download fa-lg"></i>
                <i class="fa fa-clipboard fa-lg"></i>
              </li>
            </ul>
            </div>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Qua...</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <i class="fa fa-rotate-180 fa-lg fa-download"></i>
                <i class="fa mr-2 ml-2 fa-download fa-lg"></i>
                <i class="fa fa-clipboard fa-lg"></i>
              </li>
            </ul>
            </div>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Qua...</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <i class="fa fa-rotate-180 fa-lg fa-download"></i>
                <i class="fa mr-2 ml-2 fa-download fa-lg"></i>
                <i class="fa fa-clipboard fa-lg"></i>
              </li>
            </ul>
            </div>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Qua...</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <i class="fa fa-rotate-180 fa-lg fa-download"></i>
                <i class="fa mr-2 ml-2 fa-download fa-lg"></i>
                <i class="fa fa-clipboard fa-lg"></i>
              </li>
            </ul>
            </div>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Qua...</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <i class="fa fa-rotate-180 fa-lg fa-download"></i>
                <i class="fa mr-2 ml-2 fa-download fa-lg"></i>
                <i class="fa fa-clipboard fa-lg"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Qua...</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <i class="fa fa-rotate-180 fa-lg fa-download"></i>
                <i class="fa mr-2 ml-2 fa-download fa-lg"></i>
                <i class="fa fa-clipboard fa-lg"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row row-header pb-3 mt-5">
        <div class="container-fluid">
          <div class="row-border">
            <ul class="list-inline">
              <li class="col-2 mb-4 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 mb-4 pt-3 list-inline-item">BT0001</li>
              <li class="col-4 mb-4 pt-3 special list-inline-item">Metrology and Qua...</li>
              <li class="col-3 mb-4 hide pt-3 list-inline-item">
                <i class="fa fa-rotate-180 fa-lg fa-download"></i>
                <i class="fa mr-2 ml-2 fa-download fa-lg"></i>
                <i class="fa fa-clipboard fa-lg"></i>
              </li>
            </ul>
            </div>
        </div>
      </div>
      

      
      
      

  </div>
</div>

  
  


  <div class="col-lg-6 container mt-3 d-none d-lg-block">

    <div class="conatiner">
      <div class="d-flex p-1">
        <div class="notification-banner1">
          <div class="progress mt-4 ml-3">
            <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
          </div>
          <div class="container ml-3 notification-panel">Assignments Completed</div>
        </div>
        <div class="notification-banner2">
          <div class="progress mt-4 ml-3">
          <div class="progress-bar" role="progressbar" style="width: 68%;" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100">68%</div>
        </div>
        <div class="container ml-3 notification-panel2">Lectures Viewed</div>
      </div>
      </div>  
    </div>


    <div class="calendar disable-selection" id="calendar">
      <div class="left-side">
          <div class="current-day text-center">
              <h1 class="calendar-left-side-day"></h1>
              <div class="calendar-left-side-day-of-week" id="get-week"></div>
          </div>
              <div class="add-event-day-field-btn"></div>
      </div>
      <div class="right-side">
          <div class="text-right calendar-change-year">
              <div class="calendar-change-year-slider">
                  <span class="fa fa-caret-left cursor-pointer calendar-change-year-slider-prev"></span>
                  <span class="calendar-current-year"></span>
                  <span class="fa fa-caret-right cursor-pointer calendar-change-year-slider-next"></span>
              </div>
          </div>
          <div class="calendar-month-list">
              <ul class="calendar-month"></ul>
          </div>
          <div class="calendar-week-list">
              <ul class="calendar-week"></ul>
          </div>
          <div class="calendar-day-list">
              <ul class="calendar-days"></ul>
          </div>
      </div>
  </div>
  </div>
</div>
{% endblock %}