{% extends 'inner-layout.html' %}

{% block body %}

<div class="d-flex container-fluid bd-highlight main-box timetable-padding ">
  <div class="d-flex container-lg col-lg-6 timetable-padding">
  <div class="container-fluid timetable-padding">





<div class="container-fluid mt-4">
  <ul class="list-inline mt-2 d-flex container-fluid">
    <li class="col-4 list-inline-item date-changer toggler-li" id="date-prev"><i class="fa fa-caret-left fa-2x toggler-icon"></i></li>
    <li class="col-4 list-inline-item date-changer" id="date-view"></li>
    <li class="col-4 list-inline-item date-changer toggler-li" id="date-next"><i class="fa fa-caret-right fa-2x toggler-icon"></i></li>
  </ul>
</div>


<div class="test">
  <div class="container-fluid m-0">
    <div class="row-border first-lecture" lecture_id=${lecture_id}>
        <ul class="list-inline mt-2 d-flex container-fluid">
          <li class="col-2 pt-3 list-inline-item">10:00am</li>
          <li class="col-2 pt-3 list-inline-item">${section}</li>
          <li class="col-5 pt-3 list-inline-item">${subjectName}</li>
          <li class="down-arrow col-1 list-inline-item icon-padding" data-toggle="tooltip" data-placement="top" title="Assignment"><img src="static/images/as8.png" style="width:31px" height="31px"></li>
          <li class="down-arrow2 col-1 list-inline-item icon-padding" data-toggle="tooltip" data-placement="top" title="Notes"><img src="static/images/n-1.png" style="width:31px" height="31px"></li>
        </ul>
        <div class="line-break"></div>
          <div class="action d-none">
            <ul class="mb-0 list-inline d-flex container">
                <li class="col-6 pt-2 list-inline-item">
                  <form class="form" id="uploadAssignment" enctype="multipart/form-data">
                    <input type="file" accept="application/pdf,image/*,application/msword,.doc,.docx" name="assignment" id="file-1" class="inputfile inputfile-1"/>
                    <label for="file-1" class="p-2 label-assignment"><i class="icon ml-1 fa fa-plus"></i><span class="ml-1 mr-1">Upload</span></label>
                    <input class="btn d-none" type="submit" value="Assignment 2">
                  </form>
                </li>
                <li class="upload col-6 pt-2 list-inline-item">
                  <button disabled lecture_id=${lecture_id} class="btn-dashboard btn-submissions btn"><i class="icon mr-2 fa fa-eye fa-lg"></i>Submissions</button>
                </li>
            </ul>
            <div class="view-comments view-comment-assignment">View Comments<i class="fa fa-caret-down pl-2 pr-2" aria-hidden="true"></i></div>
            <div class="progress progress-upload d-none">
              <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
            </div>
          </div>
          <div class="action2 d-none">
            <ul class="mb-0 list-inline d-flex container">
            <li class="col-12 pt-2 list-inline-item">
                <form class="form" id="uploadNotes" enctype="multipart/form-data">
                <input type="file" accept="application/pdf,image/*,application/msword,.doc,.docx" name="notes" id="file-2" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                <label for="file-1" class="p-2 label-notes"><i class="icon ml-1 fa fa-plus"></i><span class="ml-1 mr-1">Upload</span></label>
                <input class="btn d-none" type="submit" value="Upload">
            </form>
            </li>
            </ul>
            <div class="view-comments view-comment-notes mt-3 ml-4 mr-2 pl-2 pr-2">View Comments<i class="fa fa-caret-down pl-2 pr-2" aria-hidden="true"></i></div>
            <div class="progress2 progress-upload2 d-none">
                <div class="progress-bar2" role="progressbar" style="width: 0%;"></div>
            </div>
          </div>
          <div class="comment-container d-none">
            <form class="comment-form">
              <ul class="list-inline mt-2 d-flex container-fluid">
                <li class="col-10 list-inline-item m-0 underline">
                  <input class="form-control form-control-sm comment-input" type="text" placeholder="Add a comment...">
                </li>
                <li class="col-1 list-inline-item m-0 underline">
                  <div class="character-count">0/140</div>
                </li>
                <li class="col-1 list-inline-item" id="send-btn-height">
                  <button type="submit" class="btn submit-comment m-1"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </li>
              </ul>
              </form>
            <div class="comments"></div>
          </div>
          
          
        </div>

        <div class="row-border last-lecture" lecture_id=${lecture_id}>
          <ul class="list-inline mt-2 d-flex container-fluid">
            <li class="col-2 pt-3 list-inline-item">10:00am</li>
            <li class="col-2 pt-3 list-inline-item">${section}</li>
            <li class="col-5 pt-3 list-inline-item">${subjectName}</li>
            <li class="down-arrow col-1 list-inline-item icon-padding" data-toggle="tooltip" data-placement="top" title="Assignment"><img src="static/images/as8.png" style="width:31px" height="31px"></li>
            <li class="down-arrow2 col-1 list-inline-item icon-padding" data-toggle="tooltip" data-placement="top" title="Notes"><img src="static/images/n-1.png" style="width:31px" height="31px"></li>
          </ul>
          <div class="line-break"></div>
            <div class="action d-none">
              <ul class="mb-0 list-inline d-flex container">
                  <li class="col-6 pt-2 list-inline-item">
                    <form class="form" id="uploadAssignment" enctype="multipart/form-data">
                      <input type="file" accept="application/pdf,image/*,application/msword,.doc,.docx" name="assignment" id="file-1" class="inputfile inputfile-1"/>
                      <label for="file-1" class="p-2 label-assignment"><i class="icon ml-1 fa fa-plus"></i><span class="ml-1 mr-1">Upload</span></label>
                      <input class="btn d-none" type="submit" value="Assignment 2">
                    </form>
                  </li>
                  <li class="upload col-6 pt-2 list-inline-item">
                    <button disabled lecture_id=${lecture_id} class="btn-dashboard btn-submissions btn"><i class="icon mr-2 fa fa-eye fa-lg"></i>Submissions</button>
                  </li>
              </ul>
              <div class="progress progress-upload d-none">
                <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
              </div>
            </div>
            <div class="action2 d-none">
              <ul class="mb-0 list-inline d-flex container">
              <li class="col-12 pt-2 list-inline-item">
                  <form class="form" id="uploadNotes" enctype="multipart/form-data">
                  <input type="file" accept="application/pdf,image/*,application/msword,.doc,.docx" name="notes" id="file-2" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                  <label for="file-1" class="p-2 label-notes"><i class="icon ml-1 fa fa-plus"></i><span class="ml-1 mr-1">Upload</span></label>
                  <input class="btn d-none" type="submit" value="Upload">
              </form>
              </li>
              </ul>
              <div class="progress2 progress-upload2 d-none">
                  <div class="progress-bar2" role="progressbar" style="width: 0%;"></div>
              </div>
            </div>
          </div>

          <div class="row-border last-lecture" lecture_id=${lecture_id}>
            <ul class="list-inline mt-2 d-flex container-fluid">
              <li class="col-2 pt-3 list-inline-item">10:00am</li>
              <li class="col-2 pt-3 list-inline-item">${section}</li>
              <li class="col-5 pt-3 list-inline-item">${subjectName}</li>
              <li class="down-arrow col-1 list-inline-item icon-padding" data-toggle="tooltip" data-placement="top" title="Assignment"><img src="static/images/as8.png" style="width:31px" height="31px"></li>
              <li class="down-arrow2 col-1 list-inline-item icon-padding" data-toggle="tooltip" data-placement="top" title="Notes"><img src="static/images/n-1.png" style="width:31px" height="31px"></li>
            </ul>
            <div class="line-break"></div>
              <div class="action d-none">
                <ul class="mb-0 list-inline d-flex container">
                    <li class="col-6 pt-2 list-inline-item">
                      <form class="form" id="uploadAssignment" enctype="multipart/form-data">
                        <input type="file" accept="application/pdf,image/*,application/msword,.doc,.docx" name="assignment" id="file-1" class="inputfile inputfile-1"/>
                        <label for="file-1" class="p-2 label-assignment"><i class="icon ml-1 fa fa-plus"></i><span class="ml-1 mr-1">Upload</span></label>
                        <input class="btn d-none" type="submit" value="Assignment 2">
                      </form>
                    </li>
                    <li class="upload col-6 pt-2 list-inline-item">
                      <button disabled lecture_id=${lecture_id} class="btn-dashboard btn-submissions btn"><i class="icon mr-2 fa fa-eye fa-lg"></i>Submissions</button>
                    </li>
                </ul>
                <div class="progress progress-upload d-none">
                  <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
                </div>
              </div>
              <div class="action2 d-none">
                <ul class="mb-0 list-inline d-flex container">
                <li class="col-12 pt-2 list-inline-item">
                    <form class="form" id="uploadNotes" enctype="multipart/form-data">
                    <input type="file" accept="application/pdf,image/*,application/msword,.doc,.docx" name="notes" id="file-2" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                    <label for="file-1" class="p-2 label-notes"><i class="icon ml-1 fa fa-plus"></i><span class="ml-1 mr-1">Upload</span></label>
                    <input class="btn d-none" type="submit" value="Upload">
                </form>
                </li>
                </ul>
                <div class="progress2 progress-upload2 d-none">
                    <div class="progress-bar2" role="progressbar" style="width: 0%;"></div>
                </div>
              </div>
            </div>
      </div>
</div>




  </div>
</div>

  
  


  <div class="col-lg-6 container calendar-container mt-3 d-none d-lg-block">

    
    <div class="calendar disable-selection" id="calendar">
      <div class="left-side">
          <div class="current-day text-center">
              <h1 class="calendar-left-side-day"></h1>
              <div class="calendar-left-side-day-of-week" id="get-week"></div>
          </div>
              <div class="add-event-day-field-btn"></div>
      </div>
      <div class="right-side">
          <div class="text-right calendar-change-year">
              <div class="calendar-change-year-slider">
                  <span class="fa fa-caret-left cursor-pointer calendar-change-year-slider-prev"></span>
                  <span class="calendar-current-year"></span>
                  <span class="fa fa-caret-right cursor-pointer calendar-change-year-slider-next"></span>
              </div>
          </div>
          <div class="calendar-month-list">
              <ul class="calendar-month"></ul>
          </div>
          <div class="calendar-week-list">
              <ul class="calendar-week"></ul>
          </div>
          <div class="calendar-day-list">
              <ul class="calendar-days"></ul>
          </div>
      </div>
  </div>
  </div>
</div>

<div id="footer">
 <div class="text-center footer-contents m-3"><div>
  <div>Contact us at info@chalkboards.in</div>
 </div></div>
</div>




{% endblock %}
