
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chalkboards</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

    

    
</head>
<body class="text-center login-bg">
    <div>
        {% include 'includes/_messages.html' %}        
        {% block body %}{% endblock %}
    </div>
</body>
</html>