.jumbotron-account{
    background-color: transparent;
    text-align: center;
    height: 70px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  
  .a-tag{
    text-decoration: none;
    color: rgb(80, 80, 80);
  }
  
  
  .card-account {
    box-shadow: 0 4px 45px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    min-height: 550px;
    max-height: fit-content;
    margin: auto;
    text-align: center;
  }
  
  .title-account {
    color: grey;
    font-size: 18px;
  }
  
  #user-circle{
  max-width:40%;
  max-height:40%;
  align-self: center;
  margin-top: 50px;
  margin-bottom: 20px;
  }
  
  
  .field-center {
    background-color: rgb(231, 231, 231);
    height: 44px;
    width: 100%;
    text-align: center;
  }