  
  .card-account {
    box-shadow: 0 4px 45px 0 rgba(0, 0, 0, 0.2);
    width: 230px;
    height: 300px;
    margin: auto;
    text-align: center;
  }
  
  .field-center {
    height: 30px;
    width: 100%;
    text-align: center;
  }

  .account-image{
    padding-top: 8px;
    font-size: 3rem;
    position: relative;
    top: 30px;
    align-self: center;
    background-color: rgb(106, 110, 255);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    color: white;
    display: table-cell;
    vertical-align: middle;
  }
  
  .credentials{
    position: relative;
    top: 50px;
  }
  
  .user-creds{
    margin-top: 10px;
  }


  .btn-account{
    position: absolute;
    right: 150px;
    padding: 5px;
    background-color: rgb(106, 110, 255) !important; 
    border-radius: 50% !important;
    width: 35px;
    text-align: center;
    color: white !important;
    margin-right: 10px;
   }

   .btn-account:hover{
     color: rgb(233, 233, 233);
   }

   @media all and (max-width: 720px){
    .btn-account{
      margin-right: 0px;
      position: absolute;
      right: 100px;
     }
}

.account-popup{
  position: absolute;
  top: 70px;
  right: 70px;
}

.account-popup:focus{
  outline: none !important;
}
