* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-muted {
  color: #777; }

.cursor-pointer {
  cursor: pointer; }

.disable-selection {
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  }



.calendar, .calendar, .calendar .calendar-days li:after {
  position: absolute;
  bottom: 3px;
  right: 14px;
  margin: auto; }

  .calendar-day-list{
    position: relative;
    bottom: 13px;
    left: 4px;
  }


.calendar {
  box-shadow: rgba(255, 255, 255, 0.877);
  width: 670px;
  height: 430px;
  border-radius: 10px;
  overflow: hidden; }
  .calendar .calendar-left-side-day-of-week, .calendar .current-day-events ul, .calendar .calendar-change-year, .calendar .calendar-days li {
    position: relative;
    }
  .calendar .calendar-left-side-day, .calendar .calendar-left-side-day-of-week, .calendar .current-day-events {
    color: white;
  }
  .calendar .calendar-left-side-day-of-week, .calendar .calendar-week {
    text-transform: uppercase; }
  .calendar .right-side, .calendar .left-side {
    background-color: rgb(255, 255, 255);
    padding-bottom: 6px;
    height: 100%; }
  .calendar .left-side {
    width: 200px;
    /* background-color: rgb(66, 72, 245); */
    background-color: rgb(5, 124, 235);
    float: left; }
  .calendar .current-day, .calendar .current-day-events {
    padding-top: 120px; }
  .calendar .current-day-events {
    height: 215px; }
  .calendar .current-day-events ul {
    padding-left: 30px;
    list-style: none; }
    .calendar .current-day-events ul li::before {
      content: '-';
      position: absolute;
      left: 3px;
     }
  .calendar h1.calendar-left-side-day {
    font-size: 92px; }
  .calendar .right-side {
    width: 470px;
    float: left; }
  .calendar .calendar-change-year {
    font-size: 20px; }
    .calendar .calendar-change-year .calendar-change-year-slider {
      margin-right: 10px;
      color: #737373; }
    .calendar .calendar-change-year .calendar-change-year-slider .fa:hover {
      color: rgb(0, 0, 0); }
  .calendar .calendar-days, .calendar .calendar-week, .calendar .calendar-month {
    list-style: none;
    font-size: 0;
    }
    .calendar .calendar-days li, .calendar .calendar-week li, .calendar .calendar-month li {
      display: inline-block;
      text-align: center;
      cursor: pointer;
      font-size: 16px;
      }
  .calendar .calendar-month li {
    width: calc(460px / 12);
    height: 30px;
    line-height: 30px;
    color: #868686;
    font-size: 13px; }
    .calendar .calendar-month li.active {
      color: #171717;
      font-weight: 600; }
  .calendar .calendar-days li {
    width: calc(470px / 7);
    height: 50px;
    line-height: 50px;
    }
    .calendar .calendar-days li:after {
      content: attr(data-day);
      position: absolute;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #959595;
      }
    .calendar .calendar-days li.another-month:after {
      color: #ccc; }
    .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after, .calendar .calendar-days li.event-day:before, .calendar .calendar-days li.active-day:after {
      border-radius: 50%; }
    .calendar .calendar-days li:hover:after, .calendar .calendar-days li.selected-day:after {
      background: #ccc;
      color: white; }
    .calendar .calendar-days li.event-day:before {
      content: ' ';
      width: 5px;
      height: 5px;
      position: absolute;
      top: 7px;
      right: 7px;
      background: #1400c7; }
    .calendar .calendar-days li.active-day:after {
      color: white;
      background-color: rgb(121, 121, 121);
    }
  .calendar .calendar-week {
    padding-left: 3px;
    color: #737373;
    border-top: 1px solid #ccc;
    }
    .calendar .calendar-week li {
      width: calc(600px/9);
      height: 30px;
      line-height: 30px;
      }

  .right-side{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .calendar {
    -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
 }
 .calendar {
   -webkit-box-shadow: 0 0px 0px 0px black;
    -moz-box-shadow: 0 0px 0px 0px black;
    box-shadow: 0 0px 7px 0px rgb(116, 116, 116);
 }
 .calendar:hover {
    -webkit-box-shadow: 0px 0px 0px 0px black;
    -moz-box-shadow: 0px 0px 0px 0px black;
    box-shadow: 0 0px 7px 0px rgb(116, 116, 116);
 }

 .calendar{
   position: relative;
   top: 54px;
   right: 5px;
 } 

   /* li[date-notification="yes"]::after {
    border-radius: 25px;
    border: solid red 3px;
    outline: solid red 3px ;
    -moz-outline-radius: 21px;
    background-color: yellow;
  } */

  .dot{
    position: absolute;
    top: 12px;
    right: 32px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: rgb(255, 102, 0);
    z-index: 1;
  }