.comment-input{
    border: none;
    /* border-bottom: solid black 1px; */
    border-radius: 0px;
  }
  
  .comment-input:focus{
        outline: transparent none 0 !important;
        box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
        -webkit-box-shadow: none !important;
  }
  
  .underline{
    height: 35px;
    border-bottom: solid black 1px !important;
  }
  
  #send-btn-height{
    align-self: center;
    height: 35px;
  }
  
  
  .comments{
    min-height: 100px;
    max-height: 320px;
    height: auto;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .comment-container{
    height: auto;
    max-height: 400px;
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-animation: display-none-transition 0.5s both;
    animation: display-none-transition 0.5s both;
  }
  
  .single-comment{
    font-size: 0.85rem;
    line-height: 16px;
    width: fit-content;
    margin-left: 5px;
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 2px;
    background-color: rgb(240, 240, 240);
    color: rgb(56, 56, 56);
  }
  
  
  .comment-wrapper{
    max-width: 80%;
    margin-right: 20px;
    margin-top: 5px;
    z-index: 0;
  }
  
  .comments::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .comments::-webkit-scrollbar:vertical {
    width: 11px;
  }
  
  .comments::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  
  .comments::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
  }
  
  .character-count{
    padding: 5px;
    /* border-bottom: solid rgb(0, 0, 0) 1px; */
  }
  
  
  button[disabled][class="submit-comment"]{
    background-color: white;
    color: red;
  }
  
  button[type="submit"]:disabled {
    background-color: white;
    color: rgb(172, 172, 172);
  }
  
  .view-comments{
    position: absolute;
    left: 35px;
    bottom: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
    width: fit-content;
    padding: 3px;
    padding-left: 10px;
    color: rgb(58, 58, 58);
  }
  
  .view-comments:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
  }
  
  .professor-comment{
    background-color: rgb(240, 240, 240);
  }
  
  .self-comment{
    align-self: flex-end;
  }
  
  .comment-name-timestamp{
    display: block;
    font-size: 0.6rem;
  }
  
  .comment-name{
    display: inline-block;
  }
  
  .comment-timestamp{
    display: inline-block;
    font-style: italic;
  }
  
  #no-comments-yet{
    font-style: italic;
    align-self: center;
  }