@font-face {
  font-family: medium-font;
  src: url(../fonts/IBMPlexSans-Medium.ttf);
  }

@font-face {
  font-family: semi-bold-font;
  src: url(../fonts/IBMPlexSans-SemiBold.ttf);
  }

.comment-input{
  border: none;
  /* border-bottom: solid black 1px; */
  border-radius: 0px;
}

.comment-input:focus{
      outline: transparent none 0 !important;
      box-shadow: 0 0 0 0 rgba(0,123,255,0) !important;
      -webkit-box-shadow: none !important;
}

.underline{
  height: 35px;
  border-bottom: solid black 1px !important;
}

#send-btn-height{
  align-self: center;
  height: 35px;
}

.comments {
  height: 250px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.85rem;
}
.comment-name {
  font-size: 0.65rem;
  font-family: semi-bold-font;
  color: #555555;
}
.comment-container{
  position: relative;
  top: 55px;
  height: 300px;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 5px;
  -webkit-animation: display-none-transition 0.5s both;
  animation: display-none-transition 0.5s both;
}

.single-comment{
  font-size: 0.85rem;
  line-height: 16px;
  width: fit-content;
  margin-left: 5px;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0px;
  background-color: #f4f4f4;
  color: #333333;
}


.comment-wrapper{
  max-width: 80%;
  margin-right: 20px;
  margin-top: 5px;
  z-index: 0;
}

.comments::-webkit-scrollbar {
  -webkit-appearance: none;
}

.comments::-webkit-scrollbar:vertical {
  width: 11px;
}

.comments::-webkit-scrollbar:horizontal {
  height: 11px;
}

.comments::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.character-count{
  padding: 5px;
  /* border-bottom: solid rgb(0, 0, 0) 1px; */
}


button[disabled][class="submit-comment"]{
  background-color: white;
  color: red;
}

button[type="submit"]:disabled {
  background-color: white;
  color: rgb(172, 172, 172);
}

.view-comments{
  position: absolute;
  top: 145px;
  left: 35px;
  background-color: #eeeeee;
  width: fit-content;
  padding: 6px;
  padding-left: 15px;
  font-weight: bold;
  color: #666666;
  font-family: medium-font;
  font-size: 0.75rem;
}



.view-comments:hover{
  color: #333333;
  background-color: #cccccc;
  font-weight: bold;
  cursor: pointer;
}

.professor-comment{
  background-color:#f0f0f0;
}

.self-comment{
  align-self: flex-end;
}

.comment-name-timestamp{
  display: block;
  font-size: 0.5rem;	
}	
.comment-name{	
  display: inline-block;	
}
.comment-timestamp{
  font-size: 0.65rem;
  display: inline-block;
  font-style: italic;
  color: #777777;
}

#no-comments-yet{
  font-style: italic;
  align-self: center;
}