 @font-face {
  font-family: system-font;
  src: url(../fonts/IBMPlexSans-Regular.ttf);
}

body {
  margin: 0;
  font-family: system-font;
  font-size: 0.95rem;
  font-weight: 900;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  color: rgb(87, 87, 87);
}

.navbar{
  background-color: rgb(255, 255, 255);
  border-bottom: solid rgb(228, 228, 228) thin;
}

@media all and (min-width: 720px){
  .navbar{
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
  }
}

.test{
  position: relative;
  top: 50px;
}



.btn-radius2{
  border-radius: 500px;
}

.justify-content-center {
  justify-content: center;
}


.btn-radius{
  border-radius: 25px;
}

.row-header{
  position: relative;
  margin: 20px;
  height: 10px;
}



li{
  text-align: center;
  margin: 0;
  padding: 0;
}


.row-border{
  position: relative;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border: solid rgb(221, 221, 221) thin;
  border-bottom-width: 0.3px;
  transition-duration: 0.1s;
}

.first-last-lecture{
  border-radius: 6px;
}

.first-lecture{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.last-lecture{
  border-bottom: solid rgb(221, 221, 221) thin;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.row-border-expanded1{
  height: 140px;
  transition-duration: 0.1s;
}

.row-border-expanded2{
  height: 140px;
  transition-duration: 0.1s;
}

.down-arrow{
  cursor: pointer;
}

.down-arrow2{
  cursor: pointer;
}


.special{
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}

#d-dropdown{
  background-color: rgb(66, 66, 66);
  border-radius: 50px;
  border: none;
  height: 30px;
  width: 55px;
}

.margin-special{
  margin-top: 39px;
}

#d-dropdown1{
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 50px;
  border: solid;
  border-color: rgb(36, 36, 36);
  border-width: thin;
  height: 30px;
  width: 55px;
}


.dropdown-item:hover{
  background-color: white;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnUp {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.inputfile {
	width: 190px;
	height: 40px;
	opacity: 0;
	overflow: hidden;
  position: absolute;
}

.inputfile + label {
  background-color: rgb(255, 255, 255);
  width: 180px;
  border: solid rgb(153, 153, 153) thin;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}



.inputfile:hover + label {
  border: none;
  background: rgb(5, 124, 235);
  color: white;
  transition-duration: 0.2s;
}

/* .inputfile + label * {
	pointer-events: none;
} */

.progress-upload{
  height: 3px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.progress{
  position: absolute;
  top: 136px;
}

@media all and (min-width: 720px){
  .timetable-padding{
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media all and (max-width: 720px){
  .timetable-padding{
    padding: 0px;
  }
}

button:disabled {
  cursor: auto;
}

input:disabled {
  cursor: auto;

}

.btn-nav{
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(32, 32, 32);
}

.btn-nav:hover{
  color: rgb(136, 136, 136);
}

.icon-padding{
  padding-top: 12px;
}

.fa-size-color{
  position: absolute;
  bottom: 25px;
  left: 22px;
  font-size: 7px;
  color: rgb(255, 102, 0);
}

button:disabled {
  cursor: auto;
  background-color: rgb(231, 231, 231);
  border: none;
  color: rgb(95, 95, 95);
}

button:disabled:hover {
  cursor: auto;
  color: rgb(71, 71, 71);
  background-color: rgb(231, 231, 231);
}

.inputfile:disabled + label,
.inputfile + label:disabled {
  background-color: rgb(236, 236, 236);
  border: none;
  color: rgb(141, 141, 141);
  cursor: auto;
}

.btn-dashboard{
  border-radius: 5px;
  width: 190px;
	height: 40px;
  background-color: rgb(255, 255, 255);
  border: solid rgb(153, 153, 153) thin;
  color: rgb(36, 36, 36);
}

.btn-dashboard:hover{
  border: none;
  background-color: rgb(5, 124, 235);
  color: white;
}

.days-ago{
  font-style: italic;
  font-size: 0.7rem;
  color: rgb(155, 155, 155);
}

.btn:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none; 
}

.assignment-submitted{
  border: none !important;
  background-color: rgb(21, 153, 21) !important;
  color: white !important;
}

.assignment-available-dot{
  position: absolute;
  bottom: 25px;
  left: 22px;
  font-size: 7px;
  color: rgb(255, 102, 0);
}

.assignment-submitted-dot{
  position: absolute;
  bottom: 25px;
  left: 22px;
  font-size: 7px;
  color: rgb(21, 153, 21);
}

.notes-available-dot{
  position: absolute;
  bottom: 25px;
  left: 22px;
  font-size: 7px;
  color: rgb(255, 102, 0);
}

.notes-seen-dot{
  position: absolute;
  bottom: 25px;
  left: 22px;
  font-size: 7px;
  color: rgb(21, 153, 21);
}
